@domain = https://dev-umanda.us.auth0.com
@clientId = gJwhRquTGMF5qeHlJB4kTnuu6J8BgvYr
@clientSecret = dfh-DXzN3ZqSolJ4c9OmRKcnd88NF5XO6QMIZCs8ZLQKEzLHUzld3-cN_YN7-4f9
@audience = https://api.acme.test
@realm = Username-Password-Authentication

#@grant_type = http://auth0.com/oauth/grant-type/password-realm

# To use this Auth0 Dashboard > Tenant Settings In the Default Directory field, enter the name of the database connection you want to use (e.g., Username-Password-Authentication, which is the default database connection name).
@grant_type = password 
### Get Management API Token
POST {{domain}}/oauth/token
Content-Type: application/json

{
  "grant_type": "{{grant_type}}",
  "username": "user-admin@acme.test",
  "password": "!@#$Qwer1234",
  "realm": "{{realm}}",
  "client_id": "{{clientId}}",
  "client_secret": "{{clientSecret}}",
  "audience": "{{audience}}",
  "scope": "openid profile email"
}