{
  "app": "python -m infra.app",
  "watch": {
    "include": ["infra/**"],
    "exclude": ["**/__pycache__/**", "cdk.out/**"]
  },
  "context": {
    "@aws-cdk/aws-lambda:recognizeLayerVersion": true,
    "@aws-cdk/core:checkSecretUsage": true,
    "@aws-cdk/core:enablePartitionLiterals": true,

    "app_name": "dynmodb-crud-api",
    "account": "",
    "region": "us-east-1",

    "tags": {
      "Project": "dynmodb-crud-api",
      "Environment": "dev",
      "Owner": "umanda",
      "ManagedBy": "cdk"
    },

    "network": {
      "existing_vpc_id": "",
      "existing_subnet_id": "",
      "existing_sg_id": "",
      "max_azs": 2,
      "nat_gateways": 0
    },

    "ec2": {
      "instance_type": "t3.micro",
      "volume_size_gb": 20,
      "key_pair_name": "",
      "ami_name": "al2023-ami-2023.*-x86_64",
      "allowed_ssh_cidrs": ["0.0.0.0/0"],
      "associate_public_ip": true
    },

    "app": {
      "container_port": 8000,
      "host_port": 80,
      "docker_image_name": "dynmodb-crud-api",
      "env_file": ".env"
    },

    "deploy": {
      "mode": "ec2",
      "ecr": {
        "repository_name": "dynmodb-crud-api",
        "scan_on_push": true,
        "image_tag_mutability": "MUTABLE"
      },
      "ecs": {
        "cpu": 256,
        "memory_mib": 512,
        "desired_count": 0,
        "image_tag": "latest",
        "health_check_path": "/health",
        "assign_public_ip": true
      }
    }
  }
}
